@model IEnumerable<HuddersfieldSportCentre.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "About";
}
<h2>Number of Customers Added Per Day</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        
        <th>
            No Of Customers Enrolled
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>

            <td>
                @item.CustomerCount
            </td>
        </tr>
    }
</table>