@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 align="center">Huddersfield Sports Centre</h1>
    <h2 align="center">Management System</h2>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Customer Quick Links</h3>
        <p><a class="btn btn-default" @Html.ActionLink("Add New Customer", "Create", "Customer") </a></p>
    </div>
    <div class="col-md-4">
        <h3>Enrollment Quick Links</h3>
        <p><a class="btn btn-default" @Html.ActionLink("Create New Enrollment", "Create", "Enrollment") </a></p>
    </div>

   
    <div class="col-md-4">
        <h3>Course Quick Links</h3>
        <p><a class="btn btn-default" @Html.ActionLink("Create New Course", "Create", "Course") </a></p>
    </div>
    <div class="col-md-5">
            <h3>Trainer Quick Links</h3>
            <p><a class="btn btn-default" @Html.ActionLink("Add New Trainer", "Create", "Trainer") </a></p>
        </div>
        </div>

</div>